- if logged_in?
  = render :partial => 'index'
- else
  - if @emails
    = render :partial => "result"
  - else
    %p
      An advance-fee fraud is a confidence trick in which the target is persuaded to advance sums of money in the hope of realizing a significantly larger gain.[1] Among the variations on this type of scam, are the Nigerian Letter (also called the 419 fraud, Nigerian scam, Nigerian bank scam, or Nigerian money offer[2]),[3] the Spanish Prisoner, the black money scam as well as Russian/Ukrainian scam (also widespread, though far less popular than the former). The so-called Russian and Nigerian scams stand for wholly dissimilar organised-crime traditions; they therefore tend to use altogether different breeds of approaches.
    %p
      Although similar to older scams such as the Spanish Prisoner, the modern 419 scam originated in the early 1980s as the oil-based Nigerian economy declined. Several unemployed university students first used this scam as a means of manipulating business visitors interested in shady deals in the Nigerian oil sector before targeting businessmen in the west, and later the wider population. Scammers in the early-to-mid 1990s targeted companies, sending scam messages via letter,[4] fax, or Telex.[5] The spread of e-mail and easy access to e-mail-harvesting software significantly lowered the cost of sending scam letters by using the Internet. In the 2000s, the 419 scam has spurred imitations from other locations in Africa, Asia and Eastern Europe, and, more recently, from North America, Western Europe (mainly United Kingdom and Netherlands), and Australia.
    %p
      The number "419" refers to the article of the Nigerian Criminal Code (part of Chapter 38: "Obtaining Property by false pretences; Cheating") dealing with fraud.[6] The American Dialect Society has traced the term "419 fraud" back to 1992.[7]
  
